@import "tailwindcss";

:root {
  --color-dark: #181c14;
  --color-gray-100: #3c3d37;
  --color-oily: #697565;
  --color-bage: #ecdfcc;
  --color-pink-100: #d76c82;
  --color-pink-400: #b03052;
  --color-gray: #484848;
}

/* Common_layout */

.dark-mode {
  background-color: #111827;
  color: #f3f4f6;
}

.dark-mode .bg-gray-100 {
  background-color: #1f2937;
}

.dark-mode .bg-gray-50 {
  background-color: #1f2937;
}

.dark-mode .text-gray-800 {
  color: #f3f4f6;
}

.dark-mode .bg-gray-700 {
  background-color: #374151;
}

.dark-mode .bg-gray-800 {
  background-color: #1f2937;
}

body {
  transition: all 0.3s ease;
}

body.small-text {
  font-size: 14px;
}

body.medium-text {
  font-size: 16px;
}

body.large-text {
  font-size: 18px;
}

/* end of Common_layout */

.aside {
  transform: translate(-145%);
  transition: all 0.5s ease-in-out;
  border-radius: 0rem 2rem 2rem 0rem;
}
.show-Aside {
  background-color: var(--color-gray);
  transform: translate(0%);
  transition: all 0.5s ease-in-out;
}
.AsideComponent {
  background-image: url("/public/img/calendar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero i.fa-solid.fa-calendar-days {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
  color: aliceblue;
}

/* layout Style */
.overlay {
  background: rgba(0, 0, 0, 0.72);
  height: 100vh;
}
.Common_aside {
  position: fixed;
  z-index: 999999;
  /* visibility: hidden; */
}
/* Task Style */
.heroTask {
  width: 70%;
}
input {
  display: block;
  border: 2px solid #bababa !important;
}
.heroTask h2 {
  color: var(--color-pink-100);
}
form {
  width: 70%;
}

.form-Wrraper {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-76%) !important;
  transition: all 0.3s ease-out;
}

.show-Form {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%) !important;
  transition: all 0.3s ease-out;
}
.form-btn {
  background-color: var(--color-pink-100);
  transition: all 0.5s ease-in-out;
}
.form-btn:hover {
  background-color: var(--color-pink-400);
}
.Dashborde {
  position: relative;
  top: 20rem !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}
.show-Dashborde {
  opacity: 1;
  visibility: visible;
  top: -26rem !important;
  transition: all 0.3s ease-in;
}
textarea {
  resize: none;
  border: 2px solid #bababa !important;
  display: block;
  transition: all 0.3s ease-out;
}
.textarea_hide {
  display: none;
  transition: all 0.3s ease-out;
}
.TaskCard .item-title {
  border-bottom: 1px solid #000;
  width: 100%;
  padding-bottom: 7px;
}
/* btn  */
.btn-delete {
  opacity: 0;
  visibility: hidden;
}

.btn-ellipsis {
  background: #62626236;
  padding: 0px 5px;
  border-radius: 2rem;
}
.wrapper {
  width: 100%;
}
.Show-DeleteBtn {
  width: 21rem;
}
.editable-div {
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.discription {
  word-break: break-word;
}

.checkbox {
  display: none;
  transition: all 0.3s ease-out;
}
.show-checkbox {
  display: flex !important;
  transition: all 0.3s ease-out;
}
/* Edite and custom mobile common layout */
.toggle.py-3 {
  display: flex;
  width: 100vw;
}
aside.aside.w-30.h-auto.bg-gray-100.dark-mode\:bg-gray-800.text-white.flex.flex-col.items-center.p-4 {
  width: 73%;
  border-radius: 16px;
}
.flex.flex-col.p-3.items-center.h-100 {
  height: 63px;
  flex-direction: row;
  align-items: baseline;
  gap: 35px;
}

/* end of Edite and custom mobile common layout */

/* Responsive */
@media (min-width: 1024px) {
  .hero p {
    padding: 0rem 8rem;
    font-size: 1.5rem;
  }
  .toggle.py-3 {
    display: block;
    width: auto;
  }
  aside.aside.w-30.h-auto.bg-gray-100.dark-mode\:bg-gray-800.text-white.flex.flex-col.items-center.p-4 {
    width: 100%;
    border-radius: 0px 16px 16px 0px;
  }
  .flex.flex-col.p-3.items-center.h-100 {
    height: 62vh;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  a.setting.w-10.h-10.bg-gray-100.dark-mode\:bg-gray-700.flex.items-center.justify-center.rounded-md.cursor-pointer.hover\:bg-gray-600.transition-all {
    position: absolute;
    bottom: 20px;
  }
}
